@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}

html,
body {
  font-family: 'Epilogue', sans-serif;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font-family: inherit;
  outline: none;
  border: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
.entry-content {
  font-size: 16px;

  h2,
  h3,
  h4 {
    font-weight: bold;
    margin-bottom: 20px;
  }
  h2 {
    font-size: 32px;
  }
  h3 {
    font-size: 26px;
  }
  h4 {
    font-size: 22px;
  }
  p {
    margin-bottom: 20px;
    line-height: 2;
  }
  @media screen and (max-width: 1023.98px) {
    font-size: 14px;
    h2 {
      font-size: 26px;
    }
    h3 {
      font-size: 24px;
    }
    h4 {
      font-size: 20px;
    }
  }
}

.container {
  max-width: 1280px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}
.nopadding {
  padding: 0;
}
.btn-link {
  text-decoration: none;
  text-align: center;
  padding: 10px 20px;
  color: #fff;
  font-size: 16px;
  border-radius: 6px;
  background-color: #1a56d8;
}
.grid-layout {
  display: grid;
  grid-auto-columns: 240px;
  gap: 16px;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
  @media screen and (min-width: 1024px) {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 48px;
  }
  @media screen and (max-width: 1023.98px) {
    grid-auto-flow: column;
    scroll-snap-type: x mandatory;
    overflow-x: auto;
  }

  & > * {
    scroll-snap-align: start;
  }
  &--primary {
    grid-auto-columns: 220px;
    @media screen and (min-width: 1024px) {
      grid-template-columns: repeat(4, minmax(0, 1fr));
    }
  }
}
.home-block {
  padding: 40px 0;
  @media screen and (min-width: 1024px) {
    padding-bottom: 60px;
  }
}
.mb {
  margin-bottom: 10px;
}
.link {
  text-decoration: none;
  color: inherit;
}
.post-image {
  display: block;
  flex-shrink: 0;
  width: 180px;
  height: 130px;
}
.hidden-input {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}
.active {
  background-color: #2cccff;
  border-radius: 6px;
}

.form-layout {
  margin-bottom: 20px;
}
.over-ride {
  width: 200px;
  border-radius: 50%;
}
