@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}

html,
body {
  font-family: 'Poppins', sans-serif;
}

img,
picture,
video,
canvas,
svg {
  max-width: 100%;
}
input,
button,
textarea,
select {
  font-family: inherit;
  outline: none;
  border: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
